<div class="row">

  <div class="app-modal-header">
    <h4 class="modal-title">Detalle Montacarga</h4>
  </div>
  <div class="col-sm-12">
    <app-card>

      <div class="form-group row">

        <div class="col-sm-6">
          <h6>Equipo</h6>
          <input type="text" class="form-control" [(ngModel)]="forkliftText" disabled>
        </div>
  
        <div class="col-sm-6">
          <h6>Cliente</h6>
          <input type="text" class="form-control" [(ngModel)]="customerName" disabled>
        </div>
      </div>
      <div class="form-group row">

        <div class="col-sm-4">
          <h6>Sede</h6>
          <input type="text" class="form-control" [(ngModel)]="branch" disabled>
        </div>
      </div>
  
  
      <div class="form-group row">
        <div class="col-sm-4">
          <h6>Montacargas Serie</h6>
          <input type="text" class="form-control" [(ngModel)]="serie" disabled>
        </div>
  
        <div class="col-sm-4">
          <h6>Marca</h6>
          <input type="text" class="form-control" [(ngModel)]="brand" disabled>
        </div>

        <div class="col-sm-4">
          <h6>Model</h6>
          <input type="text" class="form-control" [(ngModel)]="model" disabled>
        </div>
        
        
      </div>
  
      <div class="form-group row">
        <div class="col-sm-4">
          <h6>Descricción</h6>
          <input type="text" class="form-control" [(ngModel)]="description" disabled>
        </div>
        
        <div class="col-sm-4">
          <h6>Maquina</h6>
          <input type="text" class="form-control" [(ngModel)]="machine" disabled>
        </div>
  
        <div class="col-sm-4">
          <h6>Combustion</h6>
          <input type="text" class="form-control" [(ngModel)]="fuel" disabled>
        </div>
      </div>
  
      <div class="form-group row">
        <div class="col-sm-4">
          <h6>Llantas</h6>
          <input type="text" class="form-control" [(ngModel)]="tyre_description" disabled>
        </div>

        <div class="col-sm-4">
          <h6>Toneladas</h6>
          <input type="text" class="form-control" [(ngModel)]="tonne" disabled>
        </div>
        
        <div class="col-sm-4">
          <h6>Mastil Izado</h6>
          <input type="text" class="form-control" [(ngModel)]="mastilIzado" disabled>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-4">
          <h6>Mastil Contraido</h6>
          <input type="text" class="form-control" [(ngModel)]="mastilContract" disabled>
        </div>

        <div class="col-sm-4">
          <h6>Horometro Inicial</h6>
          <input type="text" class="form-control" [(ngModel)]="hInitial" disabled>
        </div>

        <div class="col-sm-4">
          <h6>Horometro Actual</h6>
          <input type="text" class="form-control" [(ngModel)]="hCurrent" disabled>
        </div>  
      </div>

    </app-card>
    <app-card>
      <h5>Imagenes</h5>
    </app-card>
       
    <app-card>
      <div class="align-buttons">
        <button type="button " class="btn btn-primary m-b-0 " (click)="modalAssingPreventive.show()"  (click)="getWorks()" (click)="getTechnician()">Crear</button>
    </div>
      <h5>Rutinas preventivas</h5>
      <ngx-datatable #table class="data-table" [rows]="rowsClient"   [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="20">

        <ngx-datatable-column  [flexGrow]="2" [sortable]="false" [resizeable]="false"  name="Montacarga" [sortable]="false"  prop="full_name"></ngx-datatable-column>
        <ngx-datatable-column  [flexGrow]="2" name="Ver" [sortable]="false"  sortable="false" prop="status">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>

          <label class="link" (click)="editResumenes(row)">Ver</label> 

        </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </app-card>
     
    <app-card>
      <div class="align-buttons">
        <button type="button " class="btn btn-primary m-b-0 " >Crear</button>
    </div>
      <h5>Rutinas Correctivas</h5>
      <ngx-datatable #table class="data-table" [rows]="rowsClient"   [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="20">

        <ngx-datatable-column  [flexGrow]="2" [sortable]="false" [resizeable]="false"  name="Montacarga" [sortable]="false"  prop="full_name"></ngx-datatable-column>
        <ngx-datatable-column  [flexGrow]="2" name="Ver" [sortable]="false"  sortable="false" prop="status">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>

         <label class="link" (click)="editResumenes(row)">Ver</label> 

        </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </app-card>

    <app-card>
      <div class="align-buttons">
          <button type="button " class="btn btn-primary m-b-0 " (click)="modalAssingChecklist.show()" (click)="getChecklist()" (click)="getTechnician()">Crear</button>
      </div>
      <h5>Checklist</h5>
      <ngx-datatable #table class="data-table" [rows]="rowsClient"   [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="20">

        <ngx-datatable-column  [flexGrow]="2" [sortable]="false" [resizeable]="false"  name="Montacarga" [sortable]="false"  prop="full_name"></ngx-datatable-column>
        <ngx-datatable-column  [flexGrow]="2" name="Ver" [sortable]="false"  sortable="false" prop="status">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>

         <label class="link" (click)="editResumenes(row)">Ver</label> 

        </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </app-card> 

    <div class="align-buttons">
      
        <button type="button" class="btn btn-default waves-effect" id="refusedHide" >Cancelar</button>
        <button type="submit " class="btn btn-primary m-b-0 " >Aceptar</button>
      </div>
  </div>
</div>

<app-modal-basic #modalAssingPreventive [dialogClass]="'modal-lg'">
  <div class="app-modal-header">

      <h4 class="modal-title">Asignar Mantenimiento Preventivo</h4>
  </div>
  <div class="app-modal-body">

    <div class="col-4">
      <h6>Fecha de asignación</h6>
      <div class="input-group" dir="ltr">
        <input class="form-control" placeholder="dd-mm-yyyy"   [readonly]="true" 
                name="fd" [(ngModel)]="fromDate" ngbDatepicker  #dFrom="ngbDatepicker"    (dateSelect)="onDateSelectionFrom($event)">
            <button type="button"  class="btn btn-primary waves-effect"  (click)="dFrom.toggle()"><i class="icofont icofont-ui-calendar"></i></button>
      </div>
    </div>

          <div class="form-group row">
  
            <app-card style="width: 100%; height: 300px;">
              <div style="overflow-y: scroll; height: 300px">
                <h5>Preventivo</h5>
                
                <div   *ngFor="let item of routineSelecteds">
                  <input type="checkbox" [(ngModel)]="item.select"  data-md-icheck /> {{item.item}}<br>
                </div>
              </div>
            </app-card>
          </div>
            <br>
            <br>
          <div class="form-group row">
            <app-card style="width: 100%; height: 300px;">
              <div style="overflow-y: scroll; height: 300px">
              <h5>Tecnicos</h5>
              <div   *ngFor="let item of technicianSelecteds" >
                <input type="checkbox" [(ngModel)]="item.select"  data-md-icheck /> {{item.item}}<br>
                </div>
              </div>
            </app-card>
          </div>
          <div class="align-buttons">
              <button type="button" class="btn btn-default waves-effect" id="assignInvoiceHide" (click)="modalAssingPreventive.hide()">Cancelar</button>
              <button type="submit " class="btn btn-primary m-b-0 " (click)="createPreventive()" >Guardar</button>

  </div>
      </div>          
</app-modal-basic>

<app-modal-basic #modalAssingChecklist [dialogClass]="'modal-lg'">
  <div class="app-modal-header">

      <h4 class="modal-title">Asignar Checklist</h4>
  </div>
  <div class="app-modal-body">

    <!-- <div class="col-4">
      <h6>Fecha de asignación</h6>
      <div class="input-group" dir="ltr">
        <input class="form-control" placeholder="dd-mm-yyyy"   [readonly]="true" 
                name="fd" [(ngModel)]="fromDate" ngbDatepicker  #dFrom="ngbDatepicker"    (dateSelect)="onDateSelectionFrom($event)">
            <button type="button"  class="btn btn-primary waves-effect"  (click)="dFrom.toggle()"><i class="icofont icofont-ui-calendar"></i></button>
      </div>
    </div> -->
 

        <div class="form-group row">
  
          <app-card style="width: 100%; height: 300px;">
            <div style="overflow-y: scroll; height: 300px">
                <h5>Checklist</h5>
                
                <div   *ngFor="let item of checklisSelecteds">
                  <input type="checkbox" [(ngModel)]="item.select"  data-md-icheck /> {{item.item}}<br>
                </div>
              </div>
            </app-card>
        </div>
            <br>
            <br>
            <div class="form-group row">
              <app-card style="width: 100%; height: 300px;">
                <div style="overflow-y: scroll; height: 300px">
              <h5>Tecnicos</h5>
              <div   *ngFor="let item of technicianSelecteds" >
                <input type="checkbox" [(ngModel)]="item.select"  data-md-icheck /> {{item.item}}<br>
                </div>
              </div>
            </app-card>
          </div>
    
          <div class="align-buttons">
              <button type="button" class="btn btn-default waves-effect" id="assignInvoiceHide" (click)="modalAssingChecklist.hide()">Cancelar</button>
              <button type="submit " class="btn btn-primary m-b-0 "  >Guardar</button>

          </div>
    </div>
</app-modal-basic>
