
<div class="row">
  <div class="col-sm-12">
      <app-card  style="position: sticky; top: 300px;">
          <h5>Administrar Perfil </h5>
          <br>
          <div class="row">
            
                  <div class="align-buttons">
                      <button type="button" id="registerWarehouses" class="btn btn-primary waves-effect" (click)="modalRegisterWarehouses.show()"  >Crear Perfil</button>
                  </div>
          </div>
          <br>
  
          <ngx-datatable #table class="data-table" [rows]="rowsClient" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
              [limit]="25">
  
              <ngx-datatable-column [resizeable]="false" [flexGrow]="1" name="Codigo"  [canAutoResize]="true" [sortable]="false" [draggable]="false" prop="code"></ngx-datatable-column>
              <ngx-datatable-column [resizeable]="false" [flexGrow]="1" name="Nombre"  [canAutoResize]="true" [sortable]="false" [draggable]="false" prop="description"></ngx-datatable-column>
              <ngx-datatable-column [resizeable]="false" [flexGrow]="1" name="Sucursal"  [canAutoResize]="true" [sortable]="false" [draggable]="false" prop="regionalDescription"></ngx-datatable-column>
              <ngx-datatable-column [resizeable]="false" [flexGrow]="2" name="Acciones"  [canAutoResize]="true" [sortable]="false" [draggable]="false" sortable="false" prop="id">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
  
                   
                  </ng-template>
              </ngx-datatable-column>
          </ngx-datatable>
      </app-card>
  </div>
  </div>

  <app-modal-basic #modalRegisterWarehouses [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
  
        <h4 class="modal-title">Registrar Perfil</h4>
    </div>
    <div class="app-modal-body">
        <form [formGroup]="myForm" (ngSubmit)="sendWarehouses()">
    
            <div class="form-group row">  
                <div class="col-sm-5">
  
                    <h6>Descripción<span style="color:red;">*</span></h6>
                    <input type="text" class="form-control" formControlName="description" [ngClass]="{ 'is-invalid': submitted && checkForm.description.errors }">
                    <div *ngIf="submitted && checkForm.description.errors" class="invalid-feedback">
                        <div class="messages text-danger" *ngIf="checkForm.description.errors.required">Este campo es requerido</div>
                    </div>
                </div>
            </div>            
            
              <div class="align-buttons">
                <button type="button" class="btn btn-default waves-effect" id="createWarehousesHide" (click)="modalRegisterWarehouses.hide()">Cancelar</button>
                <button type="submit " class="btn btn-primary m-b-0 ">Agregar Bodega</button>
              </div>
            
          </form>
    </div>
  </app-modal-basic>