<div class="row">
  <div class="col-sm-12">

    <app-card [title]="'Registro Clientes'" [headerContent]="''" [cardOptionBlock]="true">


        <h5>Información cliente </h5>
        <br>
          <form [formGroup]="myFormUpdate" (ngSubmit)="updatedRegional()">
              <div class=" form-group row ">
                  <div class="col-sm-5 ">
  
                      <h6>Codigo <span style="color:red; ">*</span></h6>
                      <input type="text " class="form-control " formControlName="codeUpdate" [ngClass]="{ 'is-invalid': submittedUpdated && checkFormUpdate.codeUpdate.errors } ">
                      <div *ngIf="submittedUpdated && checkFormUpdate.codeUpdate.errors " class="invalid-feedback ">
                          <div class="messages text-danger " *ngIf="checkFormUpdate.codeUpdate.errors.required ">Este campo es requerido</div>
                      </div>
                  </div>

                  <div class="col-sm-2"></div>

                  <div class="col-sm-5 ">

                      <h6>Descripccion <span style="color:red; ">*</span></h6>
                      <input type="text " class="form-control " formControlName="descriptionUpdate" [ngClass]="{ 'is-invalid': submittedUpdated && checkFormUpdate.descriptionUpdate.errors } ">
                      <div *ngIf="submittedUpdated && checkFormUpdate.descriptionUpdate.errors " class="invalid-feedback ">
                          <div class="messages text-danger " *ngIf="checkFormUpdate.descriptionUpdate.errors.required ">Este campo es requerido</div>
                      </div>
                  </div>
              </div>

              <div class="align-buttons">
                  <button type="submit " class="btn btn-primary m-b-0 ">Actualizar Regional</button>
              </div>

          </form>
    </app-card>
  </div>
  <br>
  <br>
  <div class="align-buttons">
   <button class="btn btn-primary m-b-0 " (click)="goAdminRegionals()">Volver Administración Regionales</button>
  </div>
</div>
