<div class="row">
  <div class="col-sm-12">
      <app-card [title]="'Registro rutinas'" [headerContent]="''" [cardOptionBlock]="true">


          <h5>Información rutina </h5>
          <br>
          <h6 >Ya puedes crear sistemas</h6>
          <br>
          <app-card [title]="'Encabezado'" [headerContent]="''" [cardOptionBlock]="true">

              <div class="form-group row">
                 
                
                  <div class="col-sm-8 col-xs-12" >
                      <h6>Nombre de la Rutina <span style="color:red;">*</span></h6>
                      <input type="text" class="form-control" [(ngModel)]="title2" #ctrl="ngModel" id="worktitle2" required>
                  </div>
                 
                  <div class="col-sm-4 col-xs-12" >
                      <h6>Horas de la Rutina <span style="color:red;">*</span></h6>
                      <input type="number" class="form-control" [(ngModel)]="hours2" #ctrl="ngModel" id="workhours2" required>
                  </div>
              </div>

              <div class="form-group row">
 
                  <div class="col-sm-12" >
                      <h6>Observacion de la Rutina <span style="color:red;"></span></h6>
                      <textarea type="text" class="form-control" [(ngModel)]="observation2" #ctrl="ngModel" id="workobservation2" required></textarea>
                  </div>
              </div>

              <div class="form-group row">
                  <div class="col-sm-12 align-buttons">
                      <button (click)="updateheader()" type="submit" class="btn btn-primary m-b-0">Actualizar encabezado <i class="icofont icofont-pencil-alt-5"></i></button>
                  </div>
              </div>
              <!-- <button class="btn btn-primary m-b-0" (click)="modalDetail.show()">Crear detalle</button>  -->
              <div class="form-group row align-buttons">
                  <div class="col-sm-12">
                      <button type="button" class="btn btn-default waves-effect" id="showComponent" hidden (click)="modalUpdateComponent.show()">Cancelar</button>
                  </div>
              </div>
          </app-card>
          <div >
              <app-card>
                <br>
                <br>
                  <div class="align-buttons">
                      <button class="btn btn-primary m-b-0" (click)="modalComponent.show()">Crear Componente</button>
                      <button style="display: none;" class="btn btn-primary m-b-0" id="showComp" (click)="modalComponent.show()" (click)="currentComponent(system)">Crear Componente</button>
                  </div>
                  <br>
                  <div  *ngFor="let component of componentSystem">
                      <div class="col-sm-8 col-xs-12">
                          <div>
                              <h6>Nombre del Componente <span style="color:red;">*</span></h6>
                          </div>
                          <br>
                          <div>
                              <input type="text" value={{component.description}} class="form-control" id="systemtitle" disabled>
                          </div>
                          <div class="align-buttons">
                               <button (click)="updateComponent(component)" class="btn btn-primary btn-icon"><i class="icofont icofont-pencil-alt-5"></i></button>
                              <button (click)="deleteComponent(component)" class="btn btn-danger btn-icon"><i class="icofont icofont-ui-delete"></i></button>
                          </div>
                      </div>
                  


                  <div class="align-buttons">
                      <button class="btn btn-primary m-b-0" (click)="modalPart.show()" (click)="currentParts(component)">Crear Parte</button>
                      <button style="display: none;" class="btn btn-primary m-b-0" id="showUpdatePart" (click)="modalUpdatePart.show()" >Actualizar</button>
                  </div>
                  <br>
                  <ngx-datatable #table class="data-table" [rows]="dataPart"   [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="20">

                    <!--   <ngx-datatable-column [resizeable]="false" name="Compañia" [sortable]="false" [draggable]="false" prop="business_name"></ngx-datatable-column> -->
                   

                    <ngx-datatable-column  [flexGrow]="2" [sortable]="false" [resizeable]="false" name="Descripción" [sortable]="false" prop="description"></ngx-datatable-column>
                    <ngx-datatable-column  [flexGrow]="2" [sortable]="false" [resizeable]="false" name="Acciones" [sortable]="false"  prop="id">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <button (click)="updatePart(row)" class="btn btn-primary btn-icon"><i class="icofont icofont-pencil-alt-5"></i></button>
                            <button (click)="deletePart(row)" class="btn btn-danger btn-icon"><i class="icofont icofont-ui-delete"></i></button>
                        </ng-template>
                    </ngx-datatable-column>
      
                </ngx-datatable>
              </div>
                  <br>
                  <br>
              
              </app-card>
          </div>

<app-card>
    <br>
    <br>
    <div class="align-buttons">
        <button class="btn btn-primary m-b-0" (click)="modalSecurity.show()" >Crear Check Seguridad</button>
        <button style="display: none;" class="btn btn-primary m-b-0" id="showUpdatePart" (click)="modalUpdatePart.show()" >Actualizar</button>
    </div>
    <br>
    <br>
    <ngx-datatable #table class="data-table" [rows]="dataPart"   [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="20">

        <!--   <ngx-datatable-column [resizeable]="false" name="Compañia" [sortable]="false" [draggable]="false" prop="business_name"></ngx-datatable-column> -->
        <ngx-datatable-column [flexGrow]="2" [sortable]="false" [resizeable]="false"   name="Descripción" [sortable]="false"  prop="description"></ngx-datatable-column>
        <ngx-datatable-column  [flexGrow]="2" [sortable]="false" [resizeable]="false" name="Acciones" [sortable]="false"  prop="id">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <button (click)="updateSecurity(row)" class="btn btn-primary btn-icon"><i class="icofont icofont-pencil-alt-5"></i></button>
                    <button (click)="deleteSecurity(row)" class="btn btn-danger btn-icon"><i class="icofont icofont-ui-delete"></i></button>
                </ng-template>
        </ngx-datatable-column>

    </ngx-datatable>
    <br>
    <br>

    </app-card>
    
    <div class="align-buttons">
        <button class="btn btn-primary m-b-0 " (click)="goAdminRoutines()">Volver Administración Rutinas</button>
    </div>
</app-card>
</div>

<app-modal-basic #modalComponent [dialogClass]="'modal-lg'">
  <div class="app-modl-header">
      <h4 class="modal-title">Agregar Componente</h4>
  </div>
  <div class="app-modal-body">
      <form [formGroup]="componentform">
          <div class="form-group row">
              <div class="col-sm-2"> </div>

              <div class="col-sm-8">
                  <h6>Nombre <span style="color:red;">*</span></h6>
                  <input type="text" class="form-control" id="component" formControlName="component" required>
              </div>

              <div class="col-sm-2"> </div>
          </div>
          <div class="align-buttons">
              <button type="button" class="btn btn-default waves-effect" id="storageComponentlHide" (click)="modalComponent.hide()">Cancelar</button>
              <button type="submit " class="btn btn-primary m-b-0 " (click)="storageComponent(componentform.value)">Crear Componente</button>
          </div>
      </form>
  </div>
</app-modal-basic>

<app-modal-basic #modalUpdateComponent [dialogClass]="'modal-lg'" >
  <div class="app-modl-header">
      <h4 class="modal-title">Actualizar Componente</h4>
  </div>
  <div class="app-modal-body">
      <form [formGroup]="updatecomponentform">            
          <div class="form-group row">
              <div class="col-sm-2"> </div>

              <div class="col-sm-8">
                  <h6>Nombre <span style="color:red;">*</span></h6>
                  <input type="text" class="form-control" id="updatecomponent" formControlName="updatecomponent">
              </div>

              <div class="col-sm-2"> </div>
          </div>
          <div class="align-buttons">
              <button type="button" class="btn btn-default waves-effect" id="updateComponentHide" (click)="modalUpdateComponent.hide()">Cancelar</button>
              <button type="submit " class="btn btn-primary m-b-0 " (click)="sendUpdateComponent(updatecomponentform.value)">Actualizar Componente</button>

          </div>
      </form>
  </div>
</app-modal-basic>


<app-modal-basic #modalPart [dialogClass]="'modal-lg'">
  <div class="app-modl-header">
      <h4 class="modal-title">Agregar Parte</h4>
  </div>
  <div class="app-modal-body">
      <form [formGroup]="partform">
          <div class="form-group row">

              <div class="col-sm-6">
                  <h6>Nombre <span style="color:red;">*</span></h6>
                  <input type="text" class="form-control" id="partdescription" formControlName="partdescription" required>
              </div>          

          </div>
          <div class="align-buttons">
              <button type="button" class="btn btn-default waves-effect" id="storagePartHide" (click)="modalPart.hide()">Cancelar</button>
              <button type="submit " class="btn btn-primary m-b-0 " (click)="storagePart(partform)">Crear Parte</button>
          </div>
      </form>
  </div>
</app-modal-basic>

<app-modal-basic #modalUpdatePart [dialogClass]="'modal-lg'" >
  <div class="app-modl-header">
      <h4 class="modal-title">Actualizar Parte</h4>
  </div>
  <div class="app-modal-body">
      <form [formGroup]="updatepartform">            
          <div class="form-group row">

              <div class="col-sm-6">
                  <h6>Nombre <span style="color:red;">*</span></h6>
                  <input type="text" class="form-control" id="partupdatedescription" formControlName="partupdatedescription" required>
              </div>

          </div>

          <div class="form-group row">

          <div class="align-buttons">
              <button type="button" class="btn btn-default waves-effect" id="updatePartHide" (click)="modalUpdatePart.hide()">Cancelar</button>
              <button type="submit " class="btn btn-primary m-b-0 " (click)="sendUpdatePart(updatepartform.value)">Actualizar arte</button>

          </div>
        </div>
      </form>
  </div>
</app-modal-basic>

<app-modal-basic #modalSecurity [dialogClass]="'modal-lg'">
    <div class="app-modl-header">
        <h4 class="modal-title">Agregar Seguridad</h4>
    </div>
    <div class="app-modal-body">
        <form [formGroup]="componentform">
            <div class="form-group row">
                <div class="col-sm-2"> </div>
  
                <div class="col-sm-8">
                    <h6>Nombre <span style="color:red;">*</span></h6>
                    <input type="text" class="form-control" id="component" formControlName="component" required>
                </div>
  
                <div class="col-sm-2"> </div>
            </div>
            <div class="align-buttons">
                <button type="button" class="btn btn-default waves-effect" id="storageComponentlHide" (click)="modalComponent.hide()">Cancelar</button>
                <button type="submit " class="btn btn-primary m-b-0 " (click)="storageComponent(componentform.value)">Crear Componente</button>
            </div>
        </form>
    </div>
  </app-modal-basic>
  
  <app-modal-basic #modalUpdateSecurity [dialogClass]="'modal-lg'" >
    <div class="app-modl-header">
        <h4 class="modal-title">Actualizar Seguridad</h4>
    </div>
    <div class="app-modal-body">
        <form [formGroup]="updatecomponentform">            
            <div class="form-group row">
                <div class="col-sm-2"> </div>
  
                <div class="col-sm-8">
                    <h6>Nombre <span style="color:red;">*</span></h6>
                    <input type="text" class="form-control" id="updatecomponent" formControlName="updatecomponent">
                </div>
  
                <div class="col-sm-2"> </div>
            </div>
            <div class="align-buttons">
                <button type="button" class="btn btn-default waves-effect" id="updateComponentHide" (click)="modalUpdateComponent.hide()">Cancelar</button>
                <button type="submit " class="btn btn-primary m-b-0 " (click)="sendUpdateComponent(updatecomponentform.value)">Actualizar Componente</button>
  
            </div>
        </form>
    </div>
  </app-modal-basic>

