<div class="row">
    <div class="col-sm-12">
        <app-card [title]="'Registro rutinas'" [headerContent]="''" [cardOptionBlock]="true">


            <h5>Información rutina </h5>
            <br>
            <h6 *ngIf=" showButtonUpdated == false">Luego de crear la rutina, puedes crear el sistema</h6>
            <h6 *ngIf=" showButtonUpdated == true">Ya puedes crear sistemas</h6>
            <br>
            <app-card [title]="'Encabezado'" [headerContent]="''" [cardOptionBlock]="true">

                <div class="form-group row">
                    <div class="col-sm-8 col-xs-12" *ngIf="showButtonUpdated == false">
                        <h6>Descripción de la Rutina <span style="color:red;">*</span></h6>
                        <input type="text" class="form-control" [(ngModel)]="title1" #ctrl="ngModel" id="worktitle" required>
                    </div>
                    <div class="col-sm-8 col-xs-12" *ngIf="showButtonUpdated == true">
                        <h6>Descripción de la Rutina <span style="color:red;">*</span></h6>
                        <input type="text" class="form-control" [(ngModel)]="title2" #ctrl="ngModel" id="worktitle2" required>
                    </div>
                    <!-- <div class="col-sm-1 editicon" *ngIf="showButtonUpdated == true">
                            <button (click)="updateheader(title2.value)" class="btn btn-primary btn-icon"><i class="icofont icofont-pencil-alt-5"></i></button>
                        </div> -->

                    <div class="col-sm-4 col-xs-12" *ngIf="showButtonUpdated == false">
                        <h6>Horas de la Rutina <span style="color:red;">*</span></h6>
                        <input type="number" class="form-control" [(ngModel)]="hours1" #ctrl="ngModel" id="workhours" required>
                    </div>
                    <div class="col-sm-4 col-xs-12" *ngIf="showButtonUpdated == true">
                        <h6>Horas de la Rutina <span style="color:red;">*</span></h6>
                        <input type="number" class="form-control" [(ngModel)]="hours2" #ctrl="ngModel" id="workhours2" required>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12" *ngIf="showButtonUpdated == false">
                        <h6>Observacion de la Rutina <span style="color:red;"></span></h6>
                        <textarea type="text" class="form-control" [(ngModel)]="observation1" #ctrl="ngModel" id="workobservation" required></textarea>
                    </div>
                    <div class="col-sm-12" *ngIf="showButtonUpdated == true">
                        <h6>Observacion de la Rutina <span style="color:red;"></span></h6>
                        <textarea type="text" class="form-control" [(ngModel)]="observation2" #ctrl="ngModel" id="workobservation2" required></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12 align-buttons">
                        <button (click)="updateheader()" type="submit" class="btn btn-primary m-b-0" *ngIf="showButtonUpdated == true">Actualizar encabezado <i class="icofont icofont-pencil-alt-5"></i></button>
                    </div>
                </div>
                <!-- <button class="btn btn-primary m-b-0" (click)="modalDetail.show()">Crear detalle</button>  -->
                <div class="form-group row align-buttons">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-primary m-b-0 waves-effect" id="storeheaderbutton" (click)="registerheader()" *ngIf="showButtonUpdated == false">Agregar encabezado</button>
                        <!-- <button (click)="registerheader()" id="registerHeader" type="submit" class="btn btn-primary m-b-0" *ngIf="showButtonUpdated == false">Agregar encabezado</button> -->
                        <button type="button" class="btn btn-default waves-effect" id="showComponent" hidden (click)="modalUpdateComponent.show()">Cancelar</button>
                        <button style="display: none;" type="button" class="btn btn-default waves-effect" id="showUpdateSystem" hidden (click)="modalUpdateSystem.show()">Cancelar</button>
                        <button type="button" class="btn btn-default waves-effect" id="storeheaderbutton2" hidden (click)="registerheader()">Cancelar</button>
                    </div>
                </div>
            </app-card>
            <div *ngIf="showButtonUpdated == true">
                <div class="align-buttons">
                    <button class="btn btn-primary m-b-0" (click)="modalSystem.show()" *ngIf="showButtonUpdated == true">Crear Sistema</button>
                </div>
                <br>
                <app-card *ngFor="let system of maintenanceSystem" >
                    <div class="col-sm-8 col-xs-12">
                        <br>
                        <div>
                            <h6>Descripción del Sistema <span style="color:red;">*</span></h6>
                        </div>
                        <br>
                        <div>
                            <input type="text" value={{system.system_description}} class="form-control" id="systemtitle" disabled>
                        </div>

                        <div class="align-buttons">
                            <button (click)="updateSystem(system)" class="btn btn-primary btn-icon"><i class="icofont icofont-pencil-alt-5"></i></button>
                            <button (click)="deleteSystem(system)" class="btn btn-danger btn-icon"><i class="icofont icofont-ui-delete"></i></button>
                        </div>
                    </div>


                    <div class="align-buttons">
                        <button class="btn btn-primary m-b-0" (click)="modalComponent.show()"  (click)="currentComponents(system)">Crear Componente</button>
                        <button style="display: none;" class="btn btn-primary m-b-0" id="showComp" (click)="modalComponent.show()" (click)="currentComponent(system)">Crear Componente</button>
                    </div>
                    <br>
                    <div  *ngFor="let component of componentSystem">
                        <div class="col-sm-8 col-xs-12">
                            <div>
                                <h6>Descripción del Componente <span style="color:red;">*</span></h6>
                            </div>
                            <br>
                            <div>
                                <input type="text" value={{component.description}} class="form-control" id="systemtitle" disabled>
                            </div>
                            <div class="align-buttons">
                                 <button (click)="updateComponent(component)" class="btn btn-primary btn-icon"><i class="icofont icofont-pencil-alt-5"></i></button>
                                <button (click)="deleteComponent(component)" class="btn btn-danger btn-icon"><i class="icofont icofont-ui-delete"></i></button>
                            </div>
                        </div>
                    


                    <div class="align-buttons">
                        <button class="btn btn-primary m-b-0" (click)="modalPart.show()" (click)="currentParts(component)">Crear Parte</button>
                        <button style="display: none;" class="btn btn-primary m-b-0" id="showUpdatePart" (click)="modalUpdatePart.show()" >Actualizar</button>
                    </div>

                    <ngx-datatable #table class="data-table" [rows]="dataPart"   [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="20">

                        <!--   <ngx-datatable-column [resizeable]="false" name="Compañia" [sortable]="false" [draggable]="false" prop="business_name"></ngx-datatable-column> -->
                       

                        <ngx-datatable-column  [flexGrow]="2" [sortable]="false" [resizeable]="false" name="Descripción" [sortable]="false" prop="description"></ngx-datatable-column>
                        <ngx-datatable-column  [flexGrow]="3" [sortable]="false" [resizeable]="false" name="Trabajo Realizado" [sortable]="false" prop="work"></ngx-datatable-column>
                      <!--   <ngx-datatable-column  [flexGrow]="2" [sortable]="false" [resizeable]="false" name="Materiales" [sortable]="false" prop="supplice"></ngx-datatable-column>-->
                        <ngx-datatable-column  [flexGrow]="3" [sortable]="false" [resizeable]="false" name="Parametros" [sortable]="false" prop="parameter"></ngx-datatable-column>
                        <ngx-datatable-column  [flexGrow]="2" [sortable]="false" [resizeable]="false" name="Acciones" [sortable]="false"  prop="id">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <button (click)="updatePart(row)" class="btn btn-primary btn-icon"><i class="icofont icofont-pencil-alt-5"></i></button>
                                <button (click)="deletePart(row)" class="btn btn-danger btn-icon"><i class="icofont icofont-ui-delete"></i></button>
                            </ng-template>
                        </ngx-datatable-column>
          
                    </ngx-datatable>
                </div>
                    <br>
                    <br>
                
                </app-card>
            </div>
                        <div class="align-buttons">
                            <button class="btn btn-primary m-b-0 " (click)="goAdminRoutines()">Volver Administración Rutinas</button>
                        </div>
        </app-card>
    </div>
</div>

<app-modal-basic #modalSystem [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
        <h4 class="modal-title">Agregar Sistemas</h4>
    </div>
    <div class="app-modal-body">
        <form [formGroup]="detailform">
            <div class="form-group row">
                <div class="col-sm-2"> </div>

                <div class="col-sm-8">
                    <h6>Descripción <span style="color:red;">*</span></h6>
                    <input type="text" class="form-control" id="system" formControlName="system" required>
                </div>

                <div class="col-sm-2"> </div>
            </div>
            <div class="align-buttons">
                <button type="button" class="btn btn-default waves-effect" id="storageDetailHide" (click)="modalSystem.hide()">Cancelar</button>
                <button type="submit " class="btn btn-primary m-b-0 " (click)="storageDetail(detailform.value)">Crear Sistema</button>
            </div>
        </form>
    </div>
</app-modal-basic>

<app-modal-basic #modalUpdateSystem [dialogClass]="'modal-lg'" >
    <div class="app-modal-header">
        <h4 class="modal-title">Actualizar Sistema</h4>
    </div>
    <div class="app-modal-body">
        <form [formGroup]="updatedetailform">            
            <div class="form-group row">
                <div class="col-sm-2"> </div>

                <div class="col-sm-8">
                    <h6>Descripción <span style="color:red;">*</span></h6>
                    <input type="text" class="form-control" id="updatesystem" formControlName="updatesystem">
                </div>

                <div class="col-sm-2"> </div>
            </div>
            <div class="align-buttons">
                <button type="button" class="btn btn-default waves-effect" id="updateDetailHide" (click)="modalUpdateSystem.hide()">Cancelar</button>
                <button type="submit " class="btn btn-primary m-b-0 " (click)="sendUpdateSystem(updatedetailform.value)">Actualizar Detalle</button>

            </div>
        </form>
    </div>
</app-modal-basic>
 
<app-modal-basic #modalComponent [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
        <h4 class="modal-title">Agregar Componente</h4>
    </div>
    <div class="app-modal-body">
        <form [formGroup]="componentform">
            <div class="form-group row">
                <div class="col-sm-2"> </div>

                <div class="col-sm-8">
                    <h6>Descripción <span style="color:red;">*</span></h6>
                    <input type="text" class="form-control" id="component" formControlName="component" required>
                </div>

                <div class="col-sm-2"> </div>
            </div>
            <div class="align-buttons">
                <button type="button" class="btn btn-default waves-effect" id="storageComponentlHide" (click)="modalComponent.hide()">Cancelar</button>
                <button type="submit " class="btn btn-primary m-b-0 " (click)="storageComponent(componentform.value)">Crear Componente</button>
            </div>
        </form>
    </div>
</app-modal-basic>

<app-modal-basic #modalUpdateComponent [dialogClass]="'modal-lg'" >
    <div class="app-modal-header">
        <h4 class="modal-title">Actualizar Componente</h4>
    </div>
    <div class="app-modal-body">
        <form [formGroup]="updatecomponentform">            
            <div class="form-group row">
                <div class="col-sm-2"> </div>

                <div class="col-sm-8">
                    <h6>Descripción <span style="color:red;">*</span></h6>
                    <input type="text" class="form-control" id="updatecomponent" formControlName="updatecomponent">
                </div>

                <div class="col-sm-2"> </div>
            </div>
            <div class="align-buttons">
                <button type="button" class="btn btn-default waves-effect" id="updateComponentHide" (click)="modalUpdateComponent.hide()">Cancelar</button>
                <button type="submit " class="btn btn-primary m-b-0 " (click)="sendUpdateComponent(updatedetailform.value)">Actualizar Componente</button>

            </div>
        </form>
    </div>
</app-modal-basic>
 
 
<app-modal-basic #modalPart [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
        <h4 class="modal-title">Agregar Parte</h4>
    </div>
    <div class="app-modal-body">
        <form [formGroup]="partform">
            <div class="form-group row">

                <div class="col-sm-6">
                    <h6>Descripción <span style="color:red;">*</span></h6>
                    <input type="text" class="form-control" id="partdescription" formControlName="partdescription" required>
                </div>

            </div>

            <div class="form-group row">

                <div class="col-sm-12">
                        <h6>Trabajo a realizar</h6>
                        <textarea type="text" class="form-control"  formControlName="partwork" required></textarea>
                       </div>

            </div>

            <div class="form-group row">

               <!-- <div class="col-sm-6">
                    <h6>Materiales <span style="color:red;">*</span></h6>
                    <input type="text" class="form-control" id="partsupplice" formControlName="partsupplice" required>
                </div>  -->

                <div class="col-sm-12">
                    <h6>Parametro <span style="color:red;">*</span></h6>
                    <input type="text" class="form-control" id="partparameter" formControlName="partparameter" required>
                </div> 

            </div>
            <div class="align-buttons">
                <button type="button" class="btn btn-default waves-effect" id="storagePartHide" (click)="modalPart.hide()">Cancelar</button>
                <button type="submit " class="btn btn-primary m-b-0 " (click)="storagePart(partform)">Crear Parte</button>
            </div>
        </form>
    </div>
</app-modal-basic>

<app-modal-basic #modalUpdatePart [dialogClass]="'modal-lg'" >
    <div class="app-modal-header">
        <h4 class="modal-title">Actualizar Parte</h4>
    </div>
    <div class="app-modal-body">
        <form [formGroup]="updatepartform">            
            <div class="form-group row">

                <div class="col-sm-6">
                    <h6>Descripción <span style="color:red;">*</span></h6>
                    <input type="text" class="form-control" id="partupdatedescription" formControlName="partupdatedescription" required>
                </div>

            </div>

            <div class="form-group row">

                <div class="col-sm-12">
                        <h6>Trabajo a realizar</h6>
                        <textarea type="text" class="form-control"  formControlName="partupdatework" required></textarea>
                       </div>

            </div>

            <div class="form-group row">

              <!--  <div class="col-sm-6">
                    <h6>Materiales <span style="color:red;">*</span></h6>
                    <input type="text" class="form-control" id="partupdatesupplice" formControlName="partupdatesupplice" required>
                </div>  -->

                <div class="col-sm-12">
                    <h6>Parametro <span style="color:red;">*</span></h6>
                    <input type="text" class="form-control" id="partupdateparameter" formControlName="partupdateparameter" required>
                </div>

            </div>
            <div class="align-buttons">
                <button type="button" class="btn btn-default waves-effect" id="updatePartHide" (click)="modalUpdatePart.hide()">Cancelar</button>
                <button type="submit " class="btn btn-primary m-b-0 " (click)="UpdateWorkDetail(updatedetailform.value)">Actualizar arte</button>

            </div>
        </form>
    </div>
</app-modal-basic>
 
 