<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <!-- Bootstrap slider card start -->
            <div class="card">
                <div class="card-header">
                    <h4>Espacio informativo</h4>
                </div>
                <div class="card-block">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <img src="assets/images/slider/3.png" alt="Random first slide">
                            <div class="carousel-caption">
                                <!--  <h3>First slide label</h3>-->
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/slider/2.png" alt="Random second slide">
                            <div class="carousel-caption">
                                <!--  <h3>First slide label</h3>-->
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/slider/4.png" alt="Random third slide">
                            <div class="carousel-caption">
                                <!--  <h3>First slide label</h3>-->
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/slider/1.png" alt="Random third slide">
                            <div class="carousel-caption">
                                <!--  <h3>First slide label</h3>-->
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>

                <div class="card-header">
                    <h5><i class="icofont icofont-tasks-alt m-r-5"></i>Información de noticia</h5>
                    <!--    <button class="btn btn-sm btn-primary f-right"><i class="icofont icofont-ui-alarm"></i>Check in</button> -->
                </div>
                <div class="card-body">
                    <div class="">
                        <div class="m-b-20">
                            <h6 class="sub-title m-b-15">Overview</h6>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                                more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                        <div class="m-b-20">
                            <h6 class="sub-title m-b-15">What we need</h6>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                                more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Bootstrap slider card end -->
        </div>
    </div>

    <!-- <div class="col-xl-8 col-lg-12 pull-xl-4"> -->