<div class="row">
  <div class="col-sm-12">
      <app-card [title]="'Registro Centro de Costos'" [headerContent]="''" [cardOptionBlock]="true">

         <h5>Información Centro de Costos </h5>

          <form [formGroup]="myForm" (ngSubmit)="sendCostCenter()">

              <div class="form-group row">
                <div class="col-sm-5">
                  <h6 class="regional">Selecciona la regional a la cual pertenece<span style="color: red;">*</span></h6>
                  <select class="form-control" name="select" [(ngModel)]="selectedRegional" formControlName="regionals">
                    <option value="0" selected>Seleccionar la regional</option>
                    <option  *ngFor="let reg of regionals" [ngValue]="reg"> {{reg.description}} </option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                  <div class="col-sm-5">

                      <h6>Codigo Centro de Costos <span style="color:red;">*</span></h6>
                      <input type="text" class="form-control" formControlName="code" [ngClass]="{ 'is-invalid': submitted && checkForm.code.errors }">
                      <div *ngIf="submitted && checkForm.code.errors" class="invalid-feedback">
                          <div class="messages text-danger" *ngIf="checkForm.code.errors.required">Este campo es requerido</div>
                      </div>
                  </div>

                      <div class="col-sm-2"></div>

                  <div class="col-sm-5">

                      <h6>Descripccion<span style="color:red;">*</span></h6>
                      <input type="text" class="form-control" formControlName="description" [ngClass]="{ 'is-invalid': submitted && checkForm.description.errors }">
                      <div *ngIf="submitted && checkForm.description.errors" class="invalid-feedback">
                          <div class="messages text-danger" *ngIf="checkForm.description.errors.required">Este campo es requerido</div>
                      </div>
                  </div>
              </div>

              <div class="form-group row">
                <div class="align-buttons">
                    <button type="submit " class="btn btn-primary m-b-0 ">Agregar Centro de Costos</button>
                </div>
              </div>
            </form>
      </app-card>
  </div>
</div>